bcrypt
blinker
certifi
charset-normalizer
click
colorama
Flask
flask-cors
groq
gunicorn
itsdangerous
Jinja2
MarkupSafe
nltk
numpy
pandas
python-dotenv
pytz
PyYAML
requests
scikit-learn
scipy
six
SQLAlchemy
textblob
vaderSentiment
Werkzeug