<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Depression Risk Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Depression Risk Analyzer</h1>

    <form action="/analyze" method="POST">
        <textarea 
            name="message" 
            placeholder="Type how you're feeling..." 
            required>
        </textarea>

        <button type="submit">Analyze</button>
    </form>

   {% if risk %}
<div class="result {{ risk|lower }}">
    <h3>Risk Level: {{ risk }}</h3>
    <p>Sentiment: {{ sentiment }}</p>
    <p>Probability: {{ percentage }}%</p>

    <div class="progress">
        <div class="progress-bar" id="bar"></div>
    </div>
</div>

<script>
    const percent = parseFloat("{{ percentage }}");
    const bar = document.getElementById("bar");
    bar.style.width = percent + "%";
    bar.textContent = percent + "%";
</script>
{% endif %}


    <div class="footer">
        Educational tool only. Not a medical diagnosis.
    </div>

</div>

</body>
</html>
